<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="seekreply">
	<insert id="insertReply">
		insert into s_reply (rno,idx,replytext,replyer) values
		( s_reply_seq.nextval, #{idx}, #{replytext}, #{replyer} )
	</insert>

	<select id="listReply"
		resultType="com.example.rockalhost.model.recruit.dto.ReplyDTO">
		select rno,idx,replyer,reg_date,updatedate,replytext
		from s_reply s, member m
		where s.replyer=m.nickName and idx=#{idx}
		order by rno
	</select>


</mapper>














